---
layout: page
---
{% include lang.html %}

<h1>Longlines - A Novel by Caoilte Breatnach</h1>

<p><i>Published by Greenisland Press, Belfast, Ireland</i></p>

<img src="assets/longlines-cover-wide-cropped.jpg" alt="Longlines"><br>
<i>Photo: David Ruffles</i>

<p><br><br><i>"Memories are the key not to the past, but to the future."<br>
<b>Corrie ten Boom</i></b></p>

<hr style="height:2px; border-width:0; color:gray; background-color:darkslategray;">

<p>Longlines focuses on the challenges facing militant republicans in Ireland during the peace process negotiations in the mid-1990s.

Following a failed operation, JJ Hynes, a veteran of the Troubles in Derry and Belfast, is on the run. In the Netherlands, he finds refuge with survivors of the Dutch Resistance who, like himself, are also struggling with memories of the past. Called back to Ireland, JJ is tasked with persuading comrades in the West to support the 'road to peace', a process he wants to believe in.</p>

<p><i>Read more: <a href="#">todo_link_here</a></i></p>

<h2>About the author</h2>

<div id='author_content'>
	<img src="/assets/small/caoilte-breatnach-01-grayscale.jpg" width="400" alt="Author Caoilte Breatnach 01" style='float: right; margin: 0 0 0 15px; border: #333333 2px solid;'>
	<p>Caoilte Breatnach was raised in a trilingual environment (Irish, Spanish and English - and his grandfather was German). His parents and siblings were involved in various republican and socialist issues and in defending human rights. He has worked as a professional translator, contributed to heritage and cultural publications, and appeared in TV/Radio broadcasts. 

	Over the years, he authored a number of books on local history and folklore. 

	This is his first novel.</p>
</div>

<p><i>Read more: <a href="/bio/">bio</a></i></p>

<h2>Purchasing / Orders</h2>


<div id='orders_content'>
	<img src="/assets/small/longlines-cover-colour-01.jpg" width="50" alt="Longlines Cover" style='float: right; margin: 0 0 0 15px; border: #333333 1px solid;'>
	<p>A copy of Longlines can be ordered from:</br>
	<ul>
		<li><a href="https://colourpointbooks.com/" target="_blank">https://colourpointbooks.com/</a></li>
		<li><a href="https://www.elsinor.de/" target="_blank">https://www.elsinor.de/</a></li>
	</ul>
	</p>
</div>