---
layout: page
---
{% include lang.html %}

<h2>Longlines - A Novel</h2>

<p>JJ Hynes, a veteran of the Troubles in Derry and Belfast has sacrificed his life, marriage, family to the Cause. Now he’s on the run.</p>

<p>Traumatised, bewildered, JJ finds refuge in Holland with a survivor of the Dutch Resistance who is still haunted, like himself, by memories of the past.</p>

<p>Fate intervenes and JJ is called back to Ireland, tasked with persuading comrades in the West to back the ‘road to peace’, a process he wants to believe in.</p>

<p>In the village of Killoveragh, he encounters Ashling, a might-have-been sweetheart from his time in Dublin, and her sister Nora.</p>

<p>Can JJ, wavering himself, persuade the hardliners to support the peace process?</p>

<p>Can there be peace, happiness and even love for somebody like him?</p>

<p>History, politics, and possible redemption come together here in a narrative that reads like a thriller but asks serious and important questions about the interweaving of personal and national trauma. </p>

<p><img src="assets/caoilte-bw-01" alt="Caoilte Breatnach"></p>
